@import url('https://fonts.googleapis.com/css?family=Work+Sans:400,700');

$fullpage-padding: 25px;
$bgcolorstart: #12B0F2;
$bgcolorend: #C8F1FF;
$colorprimary: #0E5F90;
$colorsecondary: #E0F3FF;
$colortextlist: #63A3CA;
$colormintemp: #888A8B;
$info-bg: rgba(255,255,255,0.5);

body {
  width: calc(100vw - 5%);
  height: calc(100vh - 5%);
}

#app {
  display: flex;
  flex-direction: column;
  align-content: center;
  width: calc(100vw - 2 * #{$fullpage-padding});
  height: calc(100vh - 2 * #{$fullpage-padding});
  padding: $fullpage-padding;
  font-family: "Work Sans", Arial, sans-serif;
  background: linear-gradient(to bottom, $bgcolorstart, $bgcolorend);
}

.search-area {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 200px;
}

.icon {
  color: $colorsecondary;
  font-size: 64px;
  margin-right: 20px;
}

.city-input {
  background: transparent;
  border: none;
  font-size: 66px;
  font-weight: 700;
  width: 450px;
  color: $colorsecondary;
}

.weather-summary {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-bottom: 40px;
}

.current-image {
  width: 60px;
  height: 60px;
  margin-right: 20px;
}

.minmaxtemp {
  display: flex;
  align-items: center;
}

.minmaxcontainer {
  display: flex;
  flex-direction: column;
}

.current-temp {
  font-size: 36px;
  color: $colorsecondary;
  margin-right: 10px;
}

.current-status {
  color: $colorsecondary;
  font-size: 36px;
  font-weight: 400;
}

.mintemp, .maxtemp {
  font-size: 20px;
  margin: 3px;
}

.maxtemp {
  color: $colorsecondary;
}

.mintemp {
  color: $colormintemp;
}

.weather-info-container {
  display: flex;
  justify-content: center;

  .tomorrow {
    background-color: $info-bg;
  }
  .today {
    background-color: $info-bg;
    width: 230px;
    padding: 30px;
    h3 {
      font-size: 24px;
      color: $colorprimary;
      margin-bottom: 25px;
    }
    .info-item {
      width: 100%;
      line-height: 45px;
      .key {
        float: left;
        color: $colortextlist;
      }
      .value {
        float: right;
      }
    }
  }
  .aftertomorrow {
    background-color: $info-bg;
  }

  .info-item {
    width: 100%;
  }

}
