@import url("https://fonts.googleapis.com/css?family=Work+Sans:300,400,700");
body {
  background: linear-gradient(to bottom, #12B0F2, #C8F1FF); }

#app {
  display: flex;
  flex-direction: column;
  align-content: center;
  height: calc(100vh - 2 * 25px);
  padding: 25px;
  font-family: "Work Sans", Arial, sans-serif; }

.search-area {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 200px; }

.icon {
  color: #E0F3FF;
  font-size: 4em;
  margin-right: 20px;
  cursor: pointer;
  transition: color .2s; }
  .icon:hover {
    color: #0E5F90; }

.city-input {
  background: transparent;
  border: none;
  font-size: 4.4em;
  font-weight: 700;
  width: 800px;
  text-align: center;
  color: #E0F3FF; }

.weather-summary {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-bottom: 20px; }

.current-image {
  width: 80px;
  height: 80px;
  margin-right: 20px; }

.minmaxtemp {
  display: flex;
  align-items: center; }

.minmaxcontainer {
  display: flex;
  flex-direction: column; }

.current-temp {
  font-size: 36px;
  color: #E0F3FF;
  margin-right: 10px; }

.current-status {
  color: #E0F3FF;
  font-size: 2.3em;
  font-weight: 300; }

.mintemp, .maxtemp {
  font-size: 20px;
  margin: 3px; }

.maxtemp {
  color: #E0F3FF; }

.mintemp {
  color: #888A8B; }

.forecast {
  display: flex;
  justify-content: center;
  align-self: center;
  margin-bottom: 40px;
  color: #E0F3FF;
  font-size: 1.5em;
  max-width: 700px; }

.weather-info-container {
  display: flex;
  justify-content: center; }
  .weather-info-container .tomorrow {
    margin-top: 50px; }
  .weather-info-container .today {
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5); }
  .weather-info-container .today, .weather-info-container .tomorrow, .weather-info-container .aftertomorrow {
    background-color: rgba(255, 255, 255, 0.5);
    width: 230px;
    min-height: 274px;
    padding: 30px; }
    .weather-info-container .today h3, .weather-info-container .tomorrow h3, .weather-info-container .aftertomorrow h3 {
      text-align: center;
      font-size: 24px;
      color: #0E5F90;
      margin-bottom: 25px; }
    .weather-info-container .today h4, .weather-info-container .tomorrow h4, .weather-info-container .aftertomorrow h4 {
      text-align: center;
      font-size: 20px;
      color: #0E5F90;
      margin-bottom: 25px; }
    .weather-info-container .today .info-item, .weather-info-container .tomorrow .info-item, .weather-info-container .aftertomorrow .info-item {
      justify-content: space-between;
      width: 100%;
      line-height: 45px; }
      .weather-info-container .today .info-item .key, .weather-info-container .tomorrow .info-item .key, .weather-info-container .aftertomorrow .info-item .key {
        color: #63A3CA; }
      .weather-info-container .today .info-item .value, .weather-info-container .tomorrow .info-item .value, .weather-info-container .aftertomorrow .info-item .value {
        float: right; }
  .weather-info-container .aftertomorrow {
    background-color: rgba(255, 255, 255, 0.5);
    margin-top: 50px; }

.fade-enter-active, .fade-leave-active {
  transition: opacity 1s; }

.fade-enter, .fade-leave-to {
  opacity: 0; }

/*# sourceMappingURL=style.css.map */
